fastapi
uvicorn
python-dotenv

groq

sentence-transformers
faiss-cpu
scikit-learn
numpy

nltk

sqlalchemy

python-jose[cryptography]
passlib[bcrypt]
bcrypt

python-multipart
email-validator
pydantic

slowapi

PyPDF2
python-docx

httpx